

.video-container {
  width: 100%;
 
  min-height: 100svh; /* Viewport height unit */
  z-index: -1; /* Ensure it stays behind other content */
}

@keyframes rotate{
  to{
 transform: rotate(360deg);
  }
}
.loading-screen{
  height: 100svh;
  display: flex;
  justify-content: center;
  font-family: 'Cabinet Grotesk';
}

.loading-screen img{
  margin: auto;
  height: 2rem;
  animation: rotate 1.5s infinite ;
}
 .loading-screen div {
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
video {
  width: 100%;
  min-height: 100svh;
  object-fit: cover;
  transition: transform 0.5s ease;
  display: none;
  transform: scale(0.5);
  z-index: -2; /* Ensure it stays behind other content */
}

.hero-text-container {
  position: absolute;
  z-index: 4;
  min-width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

#pg {
  transition: all 0.5s ease;
}

.container{
  height: 90%;
  position: sticky;
  top: 0;
}


#hero {
  
  margin: 0;
  padding: 0;
  min-height: 100svh;
  background-color: #FFFBFF;
}

@keyframes slide-down {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

header {

  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #FFFBFF;
  padding: 1rem;
  box-sizing: border-box;
  transform: translateY(-70px);
  animation: slide-down 3s ease-out 4s forwards;
  animation-play-state: paused;
  opacity: 0;
  border-bottom: 1px solid #4c7766;
  align-items: center;
  z-index: 1000;

}

header ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  gap: 1rem;
  list-style: none;
  font-family: 'Cabinet Grotesk';
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@keyframes text-up {
  from {
    opacity: 0;
    
  }
  to {
    transform: translateY(0);
    opacity: 1;
    
  }
}



.italic {
  font-style: italic;
}

.subline {
  color: white;
  font-size: 1.6rem;
  transform: translateY(50%);
  opacity: 0;
  width: 50%;
  margin: 0px;
  align-self: center;
  text-align: center;
  animation: text-up 2s ease-out 4s forwards;
  animation-play-state: paused;
}

.golf {
  overflow: hidden;
  animation: text-up 2s ease-out 4s forwards;
  animation-play-state: paused;
}

.golf h1 {
  transform: translateY(100%);
  opacity: 0;
  animation: text-up 1s ease-out 4s forwards;
  animation-play-state: paused;
  text-align: end;
}

.logo a {
  margin: 0px;
  font-size: 1.4rem;
  font-style: italic;
  font-family: 'Zodiak';

  font-weight: 800;
}

header a {
  color: #4c7766;
  text-decoration: none;
  font-size: 1.1rem;
}
.page{
  position: sticky;
  top: 0;
  background-color: #FFFBFF;

}


@keyframes justify {
  
  to {
    gap: 4rem;
  }
}

@keyframes scale {
  
  to {
    transform: scale(1);
  }
}
.activities-cnt{
  display: flex;
  padding: 1rem;
  gap: 4rem;
  transform: translateY(10%);

z-index: 7;
overflow: auto;
align-items: flex-start;
   background-color: #FFFBFF; 
   justify-content: center;
   animation: text-up 2s ease-out forwards;
   animation-play-state: paused;

}

.act-text{
  display: flex;
  width: 100%; background-color: #FFFBFF;
  justify-content: space-between;
  font-family: 'Cabinet Grotesk';
  font-weight: 700;
  font-size: 1.25rem;
}

.act-img-cnt{
  display: flex;
  min-height: 15rem;


}

.act-img-cnt img{
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .golf h1 {
    text-align: center;
    line-height: 1.1;
  }

  nav{
    flex-direction: row-reverse;
  }

  .activities-cnt, .contact, .activity-cnt, .FAQ, .plans, .footer-cnt{
    display: flex !important;
    flex-direction: column;
  }

  .contact{
    height: unset !important;
  }

  .activity-cnt{
    display: flex;
    align-items: center;
  }

  .contact-img-cnt img{
    max-width: 100%;
  }
  .tt-header, .Faq-header h1{
    font-size: 2.5rem !important;
  }

  .about{
    padding: 2rem !important;
  }



  .subline {
    width: auto;
  }

  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #FFFBFF;
    z-index: 1000;
    border-top: 1px solid #ccc;
  }
}

video::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.139);
  z-index: 2;
}


.header-title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.header-title h1 {
  font-family: 'Zodiak';
  font-weight: 900;
  font-size: 6rem;
}

/* Responsive Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.cn-btn{
  background-color: #4c7766;
  color: white;
  border: none;
  padding: 6px;
  font-style: italic;
  font-family: 'Cabinet Grotesk';
  font-weight: 700;
  cursor: pointer;
  transition: all 1s;
}



.about{
  display: flex;
  padding: 5rem 10rem;
  position: relative;
  background-color: white;
 
}
.about-text{
  color: #4c7766;
  font-family: 'Cabinet Grotesk';
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem; 
  transform: translateY(60%); 
  animation: text-up 2s ease-in-out forwards;
  animation-play-state: paused;
}
.cn-btn:hover{
  background-color: white;
  color: #4c7766;
  border: 1px solid #4c7766;
}

.nav-link {
  margin: 0 1rem;
}

.nav-links.open {
  display: block;
}
@keyframes scale {
  
  to {
    transform: scale(1);
  }
}
.territory{
  margin-top: 2rem;
  background-size: cover;
  height: 50svh;
  background-position: 100%;
  background-attachment: fixed;
  transform: scale(0.9);
  animation: scale 1s ease-in-out forwards;
  animation-play-state: paused; 
}
.territory::after{
  content: '';
  position: absolute;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.632);
  z-index: 2;
}

.tt-header{
  text-align: right;
  width: 100%;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  position: sticky;
  top: 50%;
  
  font-family: 'Panchang';
  color: #ffffff;
  z-index: 3;
  font-size: 3rem;
}

footer{
 padding:1rem;
  background-color: #1f1f1f;
  color: #ffffff;
  
}


.footer-cnt{
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.footer-cnt p{
  font-family: 'Cabinet Grotesk';color: #ffffffcb;
}

.footer-cnt h2{
  margin: 0px;
  font-family: 'Cabinet Grotesk';
}

.log h1{
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  line-height: 0.9;
border-bottom: 1px solid #4c7766;
}

.legal{
  font-family: 'Cabinet Grotesk';
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.social-link{
  margin-top: 16px;
  filter: invert(1);
}

.footer-cnt ul{
  padding-left: 0px;
  gap: 6px;
  font-family: 'Cabinet Grotesk';
  
}

.footer-cnt li{
  color: #ffffffcb;
 
}

.pricing{
  opacity: 0;
  animation: text-up 3s ease-out forwards;
  animation-play-state: paused;
}
.pricing h1{
  font-family: 'Cabinet Grotesk';
 font-size: 2rem;
  
  
}

.plans{display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  font-family: 'Cabinet Grotesk';
  color: #4c7766;
  
 
}

.prices-cnt{
  padding: 1rem;
  border: 1px solid #4c7766;
}

.plans p{
  font-weight: 500;
  color: #03150e;
}

.stats{
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

iframe{
  border-radius: 12px;
}

.tt-header p{
  font-family: 'Cabinet Grotesk';
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.contact{
 display: flex;
 justify-content: space-between;
 width: 100%;
 height: 100svh;
}
.contact-text{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Cabinet Grotesk';
  color: #03150e;

}
.contact-text a{
  font-size: 1rem;
  font-weight: 700;
  color: #03150e;
}
.contact-text h1{
  font-family: 'Panchang';
  
  font-size: 4rem;
  line-height: 1;
  color: #4c7766;
}
.contact-text h2{
  font-weight: bold;

 
}
.contact-text h2:nth-child(4){
  margin-bottom: 0px;
}

.contact-text div{
  position: sticky;
  top: 70%;padding: 1rem;
}
.contact-img-cnt{
  width: 100%;
  height: 100%;
}
.contact-img-cnt img{
  width: 100%;
 height: 100%;
  object-fit: cover;

}
@media (max-width: 929px) {
  .footer-cnt{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.footer-cnt iframe {
  grid-column: span 2;
 
}

.stats{
  justify-content: flex-start;
}
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 70px; /* Adjust as necessary */
    left: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 1000;
    border-top: 1px solid #ccc;
  }

  .nav-link {
    margin: 1rem 0;
    text-align: center;
  }

  .nav-links.open {
    display: flex;
  }

  .plans{
    padding: 1rem;
  }
}


.FAQ{

  display: flex; 
 
  justify-content: center;

  color: white;

 
}

.Faq-header{
  font-family: 'Panchang';
  font-size: 3rem;

  background-color: #4c7766;
  flex: 1;
}

.Faq-header h1{
  padding: 1rem;
  box-sizing: border-box;
  position: sticky;
  top: 50%;
}

.faq-questions{
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.Faq-question{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #4c7766;
  color: #4c7766;
  padding: 0.5rem;
  
  font-family: 'Cabinet Grotesk';
  box-sizing: border-box;
transform: translateY(100%);
  animation: text-up 4s ease-in-out forwards;
  animation-play-state: paused;

 
}

.Faq-question button{
  padding: 0px;
  font-size: 2rem;
  background-color: inherit;
  color: #4c7766;
  transition: all 0.1s ;
}

.Faq-question button:hover{
  transform: scale(1.3);




}


.Faq-question h2, .Faq-question p{
  margin: 0;
}

.Faq-question .question-answer p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  color: #03150e;
  
}

.Faq-question .question-answer p.expanded {
  max-height: 40px;
}

@keyframes scrollLeft {
  to{
    left: -100%;
  }
  
}

.wrapper {
  border: 1px solid black;
  position: relative;
  height: 100px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: #4c7766;
 
}



.wrapper div{
  position: absolute;
  left: calc(300px * 6);
  height: 100px;
  width: 300px;
  animation-name: scrollLeft;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  align-items: center;
 
}

.wrapper h2{
  margin: 0px;
  color: #ffffff;
  font-family: 'Panchang';
}


.upcoming-event{

  animation-delay: calc(25s / 6 * (6 - 1)*-1);
}
.event-date{
  animation-delay: calc(25s / 6 * (6 - 2) * -1);
}
.event-price{
  animation-delay: calc(25s / 6 * (6 - 3) * -1);
}
.event-type{
  animation-delay: calc(25s / 6 * (6 - 4) * -1);
}
.event-time{
  animation-delay: calc(25s / 6 * (6 - 5) * -1);
}
.event-description{
  animation-delay: calc(25s /6 * (6 - 6) * -1);
}